@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* SCROLLBAR STYLES */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #AFAFAF;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background: #5C5C5C;
}


/* THEME VARIABLES (LIGHT) */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;

  /* Sidebar */
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* THEME VARIABLES (DARK)*/
.dark {
  /* Base */
  --background: #181818;
  --foreground: #FFFFFF;
  --card: #3A3A3A;
  --card-foreground: #FFFFFF;
  --popover: #3A3A3A;
  --popover-foreground: #FFFFFF;

  /* Primary colors */
  --primary: #5C5C5C;
  --primary-foreground: #FFFFFF;
  --secondary: #212121;
  --secondary-foreground: #FFFFFF;
  --muted: #3A3A3A;
  --muted-foreground: #FFFFFF;
  --accent: #5C5C5C;
  --accent-foreground: #FFFFFF;

  /* Destructive */
  --destructive: #7F7F7F;
  --destructive-foreground: #FFFFFF;

  /* Borders & inputs */
  --border: #343434;
  --input: #3A3A3A;
  --ring: #7F7F7F;

  /* Charts */
  --chart-1: #5C5C5C;
  --chart-2: #7F7F7F;
  --chart-3: #3A3A3A;
  --chart-4: #5C5C5C;
  --chart-5: #7F7F7F;

  /* Sidebar */
  --sidebar: #212121;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #5C5C5C;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #7F7F7F;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #5C5C5C;
  --sidebar-ring: #7F7F7F;
}

/* BASE STYLES */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-border: var(--sidebar-border);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-shine {
  background-size: 200% 100%;
  animation: shine 5s linear infinite;
}
